@import url('https://fonts.googleapis.com/css?family=Exo');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --darkTheme-background: #222222;
}

html,
body {
  font-family: 'Exo';
  margin: 0;
}

body {
  --mainColor: #d5654f;
  --textColor: #eee;
  --middleColor: #9a8453;
  --wheel: #a8a49b;
  /* background noise soort van */
  background-image: repeating-radial-gradient(circle at 17% 32%, #9a845321, #fefdf8 0.0009px);

}

main {
  display: flex;
  flex-flow: column;
}

/* dark/lightmode switch */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input#knopje, input#knopje2{
  display: none;
}

#knopje:checked ~ main{
  background-color: grey;
  background-image: repeating-radial-gradient(circle at 17% 32%, #37332f, #595454 0.00088px);
  color: var(--textColor);
}

#knopje:checked ~ body, #knopje:checked ~ footer{
  background-color: grey;
  background-image: repeating-radial-gradient(circle at 17% 32%, #37332f, #595454 0.00088px);
  color: var(--textColor);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}


#knopje:checked ~ main label.switch[for=knopje] .slider {
  background-color: var(--middleColor);
}

.switch[for=knopje]:focus ~ .slider {
  box-shadow: 0 0 1px var(--wheel);
}

#knopje:checked ~ main label.switch[for=knopje] .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* einde dark/light mode switch */


video {
  max-width: 100%;
  padding: 1em;
}

img {
  max-width: 100%;
}

h1{
  background-color: var(--mainColor);
  width: 1em;
  height: 21em;
  color: var(--textColor);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  letter-spacing: 1em;
  padding: 0em 2em 0em 1em;
}

/* spinning wheel */
h2#allowingweirdideas, aside h3,main > p:nth-of-type(1):after{
  content: "";
  width: 150px;
  height: 150px;
  right: 0;
  border: 10px solid var(--middleColor);
  border-radius: 50%;
  background: conic-gradient(
    var(--middleColor),
    var(--middleColor) 5deg,
    transparent 5deg,
    transparent 60deg,
    var(--middleColor) 60deg,
    var(--middleColor) 65deg,
    transparent 65deg,
    transparent 120deg,
    var(--middleColor) 120deg,
    var(--middleColor) 125deg,
    transparent 125deg,
    transparent 180deg,
    var(--middleColor) 180deg,
    var(--middleColor) 185deg,
    transparent 185deg,
    transparent 240deg,
    var(--middleColor) 240deg,
    var(--middleColor) 245deg,
    transparent 245deg,
    transparent 300deg,
    var(--middleColor) 300deg,
    var(--middleColor) 305deg,
    transparent 305deg
  );
    animation: spinWheel 1s infinite linear;  
}

h2#allowingweirdideas:before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--wheel);
}

h2#allowingweirdideas:after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  border: 5px solid --wheel;
  border-radius: 50%;
}

@keyframes spinWheel {
  0% {
    transform: none;
  }
  
  100% {
    transform: rotate(-360deg);
  }
}

main > p:before {
  content: "";
  display: block;
  shape-outside: ellipse(100% 40% at 0% 50%);
  width: 5rem;
  height: 10rem;
  float: left;
  /* opacity: 0.2; */
  /* background-color: #420; */
}

main > p:nth-of-type(1){
  position: absolute;
  width: 50%;
  align-self: center;
  padding: 1em;
}

main > p:nth-of-type(1):after{
  content: "";
  display: block;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 10;
}

main > p:nth-of-type(2):before {
  content: "";
  display: block;
  background: url(https://cdn.shopify.com/s/files/1/0266/0443/7592/products/0015639_opel-insignia_1024x1024.png?v=1574585703) 50% 50% / auto 10.4vw; 
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  box-sizing: border-box;
  z-index: 10;
}

em{
  text-transform: capitalize;
  font-weight: bold;
}

@keyframes roll {
  0% { 
    transform: translateX(0vw);
  }  
  
  50% {
    transform: translateX(90vw) scaleX(1);   
  }
  
  50.0001% {
    transform: translateX(90vw) scaleX(-1);   }

  100% {
    transform: translateX(0vw) scaleX(-1);     }
}




main > p:nth-of-type(2) {
  /* position: absolute; */
  width: 50%;
  align-self: center;
}

p {
  margin: 1em;
}



figure {
  padding: 1em;
}

figure figcaption{
  color: var(--middleColor);
  /* font-size: 50px; */
  font-weight: bold;
  background-image: repeating-radial-gradient(circle at 17% 32%, black, #fefdf8 0.0009px);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 100%;
  animation: animate 8s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 100% 80%;
  }
  100% {
    background-size: 100% 100%;
  }
}

aside:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5vw;
  right: 5vw;
  border-top: 1px solid rgba(0,0,0,.1);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }  
}

aside h3{
  padding: 1em 0 0 1em;
}

@media (prefers-color-scheme: dark){
  body{
    background-color: grey;
    color: var(--textColor);
    background-image: repeating-radial-gradient(circle at 17% 32%, #fefdf8, #9a845321 0.00088px);
  }
}

@media (prefers-color-scheme: light){
  body{
    background-color: #fefdf8;
  }
}

